@page
@model Autopark.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete vehicle";
}

<form method="post">
    <h2>Delete vehicle</h2>
    <label asp-for="_vehicle.Name"></label>
    <input asp-for="_vehicle.Name" disabled />
    <label asp-for="_vehicle.Id"></label>
    <input asp-for="_vehicle.Id" disabled/>
    <label asp-for="_vehicle.Brand.Name"></label>
    <input asp-for="_vehicle.Brand.Name" disabled />
    <label asp-for="_vehicle.ZeroToHundred"></label>
    <input asp-for="_vehicle.ZeroToHundred" disabled />
    <label asp-for="_vehicle.Mileage"></label>
    <input asp-for="_vehicle.Mileage" disabled />
    <label asp-for="_vehicle.Year"></label>
    <input asp-for="_vehicle.Year" disabled />
    <label asp-for="_vehicle.HorsePower"></label>
    <input asp-for="_vehicle.HorsePower" disabled />
    <label asp-for="_vehicle.Price"></label>
    <input asp-for="_vehicle.Price" disabled />

    <button type="submit">Delete</button>
    <a asp-page="/vehicles"></a>
</form>