@page
@model Autopark.Pages.Vehicles.UpsertModel
@{
    ViewData["Title"] = "Vehicle";
}

<form method="post">
    @if(Model._vehicle == null)
    {
        <h2>Create Vehicle</h2>
    } else
    {
        <h2>Edit vehicle</h2>
        <label asp-for="_vehicle.Id"></label>
        <input asp-for="_vehicle.Id"/>
    }

    <label asp-for="_vehicle.Name"></label>
    <input asp-for="_vehicle.Name"/>
    <span asp-validation-for="_vehicle.Name"></span>

    <select asp-for="@Model._vehicle.BrandId" asp-items="@Model._brands">
        <option disabled selected>***Select Brand***</option>
    </select>
    <label asp-for="_vehicle.Brand.Name"></label>
    <span asp-validation-for="_vehicle.Brand.Id"></span>

    <label asp-for="_vehicle.ZeroToHundred"></label>
    <input asp-for="_vehicle.ZeroToHundred"/>
    <span asp-validation-for="_vehicle.ZeroToHundred"></span>

    <label asp-for="_vehicle.Mileage"></label>
    <input asp-for="_vehicle.Mileage"/>
    <span asp-validation-for="_vehicle.Mileage"></span>

    <label asp-for="_vehicle.Year"></label>
    <input asp-for="_vehicle.Year"/>
    <span asp-validation-for="_vehicle.Year"></span>

    <label asp-for="_vehicle.HorsePower"></label>
    <input asp-for="_vehicle.HorsePower"/>
    <span asp-validation-for="_vehicle.HorsePower"></span>

    <label asp-for="_vehicle.Price"></label>
    <input asp-for="_vehicle.Price"/>
    <span asp-validation-for="_vehicle.Price"></span>

    <button type="submit">Submit</button>
    <a asp-page="/vehicles"></a>
</form>