@page
@model Autopark.Areas.Manager.Pages.Enterprises.IndexModel
@{
}

<div class="container">
    <div class="card">
        <div class="card-header">Управляемые компании</div>
        <div class="card-body">
            <ul class="list-group">
            @foreach (var enterprise in Model.Enterprises)
            {
                <li class="list-group-item">
                    <a asp-area="Manager" asp-page="/Vehicles/Index" asp-route-enterpriseId=@enterprise.Id>@enterprise.Name</a>
                </li>
            }
            </ul>
        </div>
    </div>
</div>